/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BODY */
body {
  font-family: "Poppins", sans-serif;
  color: white;
  height: 100vh;
  background: linear-gradient(135deg, #2c003e, #1b1b2f, #000);
  background-size: 300% 300%;
  animation: gradientShift 12s ease infinite;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes gradientShift {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

/* MAIN CONTAINER */
.main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-box {
  text-align: center;
  padding: 25px;
  max-width: 400px;
  width: 90%;
  background: rgba(255, 255, 255, 0.06);
  border: 1px solid rgba(255, 215, 0, 0.2);
  border-radius: 15px;
  box-shadow: 0 0 30px rgba(255, 215, 0, 0.1);
  backdrop-filter: blur(6px);
}

/* TITLE */
.title {
  font-size: 2rem;
  color: #ffcc00;
  font-weight: 700;
  text-shadow: 0 0 15px rgba(255, 215, 0, 0.8);
}

/* SUBSCRIBERS */
.subs {
  font-size: 1rem;
  margin-top: 8px;
  color: #e5e5e5;
}

/* TAGLINE */
.tagline {
  margin-top: 18px;
  font-size: 0.95rem;
  color: #f3f3f3;
}

/* TIMER CARD */
.timer-card {
  /* background: rgba(255, 255, 255, 0.1); */
  margin: 25px 0;
  border-radius: 10px;
  padding: 15px;
  /* box-shadow: 0 0 15px rgba(255, 215, 0, 0.1);
  border: 1px solid rgba(255, 215, 0, 0.3); */
}

.timer-label {
  font-size: 0.85rem;
  letter-spacing: 1px;
  color: #fff;
}

#timer {
  font-size: 2.5rem;
  color: #ffcc00;
  font-weight: bold;
  margin-top: 5px;
  text-shadow: 0 0 15px #ffcc00;
}

/* BET SECTION */
.bet-section {
  margin-top: 10px;
}

.place-text {
  font-size: 1rem;
  margin-bottom: 8px;
  color: #f9f9f9;
}

/* JOIN BUTTON */
.join-btn {
  background: linear-gradient(135deg, #ffcc00, #ff7f11);
  border: none;
  color: black;
  font-weight: 600;
  padding: 12px 28px;
  border-radius: 30px;
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  box-shadow: 0 0 15px rgba(255, 204, 0, 0.4);
}

.join-btn:hover {
  transform: scale(1.08);
  box-shadow: 0 0 30px rgba(255, 204, 0, 0.7);
}

/* FADE ANIMATION */
.fade {
  animation: fadeInOut 2.5s ease-in-out infinite;
}

@keyframes fadeInOut {
  0% { opacity: 1; }
  50% { opacity: 0.3; }
  100% { opacity: 1; }
}

/* DISCLAIMER */
.disclaimer {
  margin-top: 25px;
  font-size: 0.2rem;
  color: #ccc;
  line-height: 1.4;
}

/* RESPONSIVE */
@media (max-width: 480px) {
  .title {
    font-size: 1.7rem;
  }

  #timer {
    font-size: 2rem;
  }

  .join-btn {
    width: 100%;
    font-size: 0.95rem;
  }
}
